@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-size-heading-36: 36px;
  --font-size-heading-32: 32px;
  --font-size-heading-30: 30px;
  --font-size-heading-26: 26px;
  --font-size-heading-24: 24px;
  --font-size-subheading-26: 26px;
  --font-size-subheading-24: 24px;
  --font-size-subheading-20: 20px;
  --font-size-subheading-19: 19px;
  --font-size-subheading-16: 16px;
  --font-size-subheading-14: 14px;
  --font-size-body-16: 16px;
  --font-size-body-14: 14px;
  --font-size-body-12: 12px;
  --font-size-body-10: 10px;
  --font-size-caption-12: 12px;
  --font-size-caption-10: 10px;

  /* Typography - Line Heights */
  --line-height-heading-36: 40px;
  --line-height-heading-32: 36px;
  --line-height-heading-30: 34px;
  --line-height-heading-26: 30px;
  --line-height-heading-24: 28px;
  --line-height-subheading-26: auto;
  --line-height-subheading-24: auto;
  --line-height-subheading-20: auto;
  --line-height-subheading-19: auto;
  --line-height-subheading-16: auto;
  --line-height-subheading-14: auto;
  --line-height-body-16: auto;
  --line-height-body-14: auto;
  --line-height-body-12: auto;
  --line-height-body-10: auto;
  --line-height-caption-12: auto;
  --line-height-caption-10: auto;

  /* Typography - Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  /* Existing colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Primary Colors - */

  --color-primary-50: #FFFFFF;
  --color-primary-100: #F5F5F5;
  --color-primary-200: #F4F4F4;
  --color-primary-250: #F4F4F7;
  --color-primary-300: #C8C8C8;
  --color-primary-400: #A8A8A8;
  --color-primary-500: #848484;
  --color-primary-600: #606668;
  --color-primary-700: #4D4D4D;
  --color-primary-800: #3B3B3B;
  --color-primary-900: #11160A;
  --color-primary-950: #010101;
  --color-primary-1000: #030713;
  --color-primary-1200: #888888;
  --color-primary-1500: #F8F8F8;

  /* Error Colors - From Figma */
  --color-error-50: #FCF3F3;
  --color-error-100: #FEF4A4;
  --color-error-200: #FCBCBC;
  --color-error-300: #F22E2E;
  --color-error-400: #E14646;
  --color-error-500: #FF4F4F;
  --color-error-600: #EB5146;
  --color-error-700: #B73F3F;
  --color-error-800: #91191A;
  --color-error-900: #66A04A;

  /* Warning Colors - */
  --color-warning-50: #FFFCCD;
  --color-warning-100: #F4F319;
  --color-warning-200: #E18350;
  --color-warning-300: #C27702;
  --color-warning-400: #E4F518;
  --color-warning-500: #FBC531;
  --color-warning-600: #E18643;
  --color-warning-700: #E3C546;
  --color-warning-800: #BF3C5;
  --color-warning-900: #FFDC10;

  --color-success-50: #F0FD5;
  --color-success-60: #F6F1DF;
  --color-success-100: #A1D015;
  --color-success-200: #4CB396;
  --color-success-300: #6AC22E;
  --color-success-400: #6AC22E;
  --color-success-500: #44CF6C;
  --color-success-600: #50F64;
  --color-success-700: #4CB396;
  --color-success-800: #6DC21;
  --color-success-900: #1D8135;

  /* Info Colors -  */
  --color-info-10: #496BC2;
  --color-info-20: #D6E5FE;
  --color-info-50: #E7F5FF;
  --color-info-100: #F2FAFE;
  --color-info-200: #DDF2FF;
  --color-info-300: #B6E6FF;
  --color-info-400: #7FD4FC;
  --color-info-500: #36BCF8;
  --color-info-600: #00A4E8;
  --color-info-700: #0085C8;
  --color-info-800: #0369A2;
  --color-info-900: #065884;
  --color-info-901: #081226;
  --color-info-1000: #0A2E47
}

.font-sans {
  font-family: "DM Sans", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply font-sans;

}

@layer utilities {

  /* Heading Styles */
  .heading-36-bold {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-heading-36);
    line-height: var(--line-height-heading-36);
    font-weight: var(--font-weight-bold);
  }

  .heading-32-bold {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-heading-32);
    line-height: var(--line-height-heading-32);
    font-weight: var(--font-weight-bold);
  }

  .heading-30-bold {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-heading-30);
    line-height: var(--line-height-heading-30);
    font-weight: var(--font-weight-bold);
  }

  .heading-26-bold {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-heading-26);
    line-height: var(--line-height-heading-26);
    font-weight: var(--font-weight-bold);
  }

  .heading-24-bold {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-heading-24);
    line-height: var(--line-height-heading-24);
    font-weight: var(--font-weight-bold);
  }

  /* Subheading Styles */
  .subheading-26-semibold {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-subheading-26);
    line-height: var(--line-height-subheading-26);
    font-weight: var(--font-weight-semi-bold);
  }

  .subheading-24-semibold {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-subheading-24);
    line-height: var(--line-height-subheading-24);
    font-weight: var(--font-weight-semi-bold);
  }

  .subheading-20-semibold {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-subheading-20);
    line-height: var(--line-height-subheading-20);
    font-weight: var(--font-weight-semi-bold);
  }

  .subheading-19-medium {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-subheading-19);
    line-height: var(--line-height-subheading-19);
    font-weight: var(--font-weight-medium);
  }

  .subheading-16-semibold {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-subheading-16);
    line-height: var(--line-height-subheading-16);
    font-weight: var(--font-weight-semi-bold);
  }

  .subheading-14-semibold {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-subheading-14);
    line-height: var(--line-height-subheading-14);
    font-weight: var(--font-weight-semi-bold);
  }

  /* Body Styles */
  .body-16-medium {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-body-16);
    line-height: var(--line-height-body-16);
    font-weight: var(--font-weight-medium);
  }



  .body-14-medium {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-body-14);
    line-height: var(--line-height-body-14);
    font-weight: var(--font-weight-medium);
  }

  .body-14-regular {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-body-16);
    line-height: var(--line-height-body-16);
    font-weight: var(--font-weight-regular);
  }

  .body-12-medium {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-body-12);
    line-height: var(--line-height-body-12);
    font-weight: var(--font-weight-medium);
  }

  .body-12-regular {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-body-12);
    line-height: var(--line-height-body-12);
    font-weight: var(--font-weight-regular);
  }

  .body-10-medium {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-body-10);
    line-height: var(--line-height-body-10);
    font-weight: var(--font-weight-medium);
  }

  .body-10-regular {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-body-10);
    line-height: var(--line-height-body-10);
    font-weight: var(--font-weight-regular);
  }

  /* Caption Styles */
  .caption-12-medium {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-caption-12);
    line-height: var(--line-height-caption-12);
    font-weight: var(--font-weight-medium);
  }

  .caption-10-medium {
    /* font-family: var(--font-sans); */
    font-size: var(--font-size-caption-10);
    line-height: var(--line-height-caption-10);
    font-weight: var(--font-weight-medium);
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: #ffff;
  /* --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0); */
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  /* --sidebar-foreground: #ffffff --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0); */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}